
/* {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
} */

.add-button {
    background-color: #91CDC9;
    border: none;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
    height: 50px;
}

/**********************************************/
/**************** Layout Styles ***************/
/**********************************************/

aside {
    width: 5vw;
    transition: width 0.3s;
}
aside.expanded {
    width: 15vw;
    transition: width 0.3s;
}

main {
    min-height: 1000px;
    flex-grow: 1;
    overflow: auto;
    padding: 4%;
}

.main-content {
    position: relative; 
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/**********************************************/
/**************** Navbar Styles ***************/
/**********************************************/
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/**********************************************/
/*************** Sidebar Styles ***************/
/**********************************************/
.sidebar-toggle {
    transform: translateX(-45px) rotate(90deg);
    background-color: #343a40;
    width: 100px;
    height: 2%;
    position: relative;
    top: 20%;
    right: -100%;
    transition: width 0.3s;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
}
.sidebar-toggle:hover {
    cursor: pointer;
}
.sidebar-toggle-tab {
    height: 100%;
    text-align: center;
}
.sidebar-toggle .tab {
    color: white;
}
.sidebar-toggle .sidebar-toggle-tab .sidebar-toggle-btn.expanded {
    display: none;
}

/* sidebar expanded state */
/* .sidebar-toggle.expanded {
    left: 10%;
} */

/* sidebar (offcanvas) content */
.offcanvas-start {
    background-color: #343a40;
    color: white;
    position: absolute;
}
.offcanvas {
    visibility: visible;
    position: relative;
    height: 100%;
}
.offcanvas.offcanvas-start {
    transform: translateX(0);
    box-shadow: 6px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 0;
    width: 15vw;
}

.offcanvas-header {
    height: 10%;
    justify-content: center;
}
.logo-wrapper.expanded {
    width: unset;
    visibility: visible;
    transition: width 0.3s;
}
.logo-wrapper.expanded {
    width: 0;
    visibility: hidden;
    transition: width 0.3s;
}
.title-wrapper {
    width: 0;
    visibility: hidden;
}
.title-wrapper.expanded {
    width: unset;
    visibility: visible;
}
.title-wrapper .offcanvas-title {
    font-size: 2.2rem;
}

.offcanvas-body {
    overflow: hidden !important;
}



/*********** Page Links ***********/
.page-links-wrapper {
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: space-between;
}
.page-link {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    margin: 4% 0;
}
.page-link:hover {
    color: #265EB3;
}
.page-icon {
    width: 100%;
    font-size: 130%;
    text-align: center;
    transition: width 0.3s, opacity 0.3s;
}
.page-icon.expanded {
    width: 20%;
    font-size: 100%;
    text-align: center;
    opacity: 1;
}
.page-name {
    width: 0;
    visibility: hidden;
    text-align: left;
}
.page-name.expanded {
    width: 90%;
    visibility: visible;
    transition: width 0.3s, opacity 0.3s;
}

.user-page-links .page-link {
    margin: 2% 5%;
}

/**********************************************/
/*************** Footer Styles ***************/
/**********************************************/

footer .container {
    padding: 1% 2% !important;
}

.link-container {
    text-align: center;
}

.link-container p {
    display: inline-block;
    margin-right: 10px;
}

.dotted-links {
    color: white !important;
    text-decoration: underline;
    text-decoration-style: dotted !important;
}

.non-dotted-links {
    color: white !important;
    text-decoration: none !important;
}

.dotted-links:hover,
.non-dotted-links:hover {
    color: #F0D695 !important;
}

/**********************************************/
/**************** Table Styles ***************/
/**********************************************/

/*

.table-size {
    min-height: 500px;
    overflow: auto;
}

*/

table.dataTable {
    border-collapse: collapse !important;
    border: 1px solid lightgray;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.table th {
    background-color: #535353 !important;
    color: white;
    height: 33px !important;
    text-align: center;
}

.paginate_button {
    border: 1px solid lightgray;
    padding: 6px 12px;
    margin-right: 5px;
    cursor: pointer;
}

.paginate_button.disabled {
    background-color: lightgray;
    border-radius: 5px;
}

.paginate_button a {
    color: black;
    text-decoration: none;
}

.paginate_button.active {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #91CDC9;
}

.paginate_button.disable {
    color: gray;
}

.dataTables_wrapper .dataTables_paginate {
    float: right !important;
}

.dataTables_length {
    margin-top: 30px;
}

.dataTables_filter {
    margin-top: 20px;
}

.dataTables_filter input {
    border: 1px solid #AFAEAE;
    border-radius: 30px;
    padding: 20px;
    width: 280px;
    height: 50px;
}

.title-background {
    background-color: #91CDC9;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-custom {
    width: 60px;
}


/**********************************************/
/********** Department Groups Styles **********/
/**********************************************/
.alert-info {
    margin-bottom: 0;
}



/**********************************************/
/*********** Table Component Styles ***********/
/**********************************************/


.add-button {
    background-color: #91CDC9;
    border: none;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
    height: 40px;
}
.edit-button {
    background-color: rgba(134, 194, 241);
}
.delete-button {
    background-color: rgba(203, 93, 93)
}
button:hover {
    opacity: 0.8;
}
.fa-icon {
    color: white;
}



/**********************************************/
/*********** Custom Bootstrap Styles **********/
/**********************************************/
.row {
    align-items: baseline;
}
.container {
    padding-left: 0;
    padding-right: 0;
}

