
/* {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
} */

/**********************************************/
/********* Person Listings Styles *************/
/**********************************************/

.person-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

#custom-add-btn {
    background-color: #91CDC9;
    border: none;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
    height: 50px;
}

.nav-pills .nav-link {
    color: black !important;
}

.nav-pills .nav-link.active {
    background-color: #91CDC9;
}

.pending-row {
    background-color: #FFFBC8 !important;
}

/**********************************************/
/**************** Layout Styles ***************/
/**********************************************/

aside {
    width: 5vw;
    transition: width 0.3s;
}
aside.expanded {
    width: 15vw;
    transition: width 0.3s;
}

main {
    min-height: 1000px;
    flex-grow: 1;
    overflow: auto;
    /* padding: 4%; */
}

.main-content {
    position: relative; 
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-title-container {
    background-color: #61D0C975;
    box-shadow: 1px 1px 8px rgba(21, 21, 21, 0.15);
    padding: 2%;

}
.main-title-wrapper {
    padding: 2%;

}

.main-container {
    padding: 2% 6%;
}


/**********************************************/
/**************** Navbar Styles ***************/
/**********************************************/
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/**********************************************/
/*************** Sidebar Styles ***************/
/**********************************************/
.sidebar-toggle {
    transform: translateX(-45px) rotate(90deg);
    background-color: #343a40;
    width: 100px;
    height: 2%;
    position: relative;
    top: 20%;
    right: -100%;
    transition: width 0.3s;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
}
.sidebar-toggle:hover {
    cursor: pointer;
}
.sidebar-toggle-tab {
    height: 100%;
    text-align: center;
}
.sidebar-toggle .tab {
    color: white;
}
.sidebar-toggle .sidebar-toggle-tab .sidebar-toggle-btn.expanded {
    display: none;
}

/* sidebar expanded state */
/* .sidebar-toggle.expanded {
    left: 10%;
} */

/* sidebar (offcanvas) content */
.offcanvas-start {
    background-color: #343a40;
    color: white;
    position: absolute;
}
.offcanvas {
    visibility: visible;
    position: relative;
    height: 100%;
}
.offcanvas.offcanvas-start {
    transform: translateX(0);
    box-shadow: 6px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 0;
    width: 15vw;
}

.offcanvas-header {
    height: 10%;
    justify-content: center;
}
.logo-wrapper.expanded {
    width: unset;
    visibility: visible;
    transition: width 0.3s;
}
.logo-wrapper.expanded {
    width: 0;
    visibility: hidden;
    transition: width 0.3s;
}
.title-wrapper {
    width: 0;
    visibility: hidden;
}
.title-wrapper.expanded {
    width: unset;
    visibility: visible;
}
.title-wrapper .offcanvas-title {
    font-size: 2.2rem;
}

.offcanvas-body {
    overflow: hidden !important;
}



/*********** Page Links ***********/
.page-links-wrapper {
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: space-between;
}
.page-link {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    margin: 4% 0;
}
.page-link:hover {
    color: #265EB3;
}
.page-icon {
    width: 100%;
    font-size: 130%;
    text-align: center;
    transition: width 0.3s, opacity 0.3s;
}
.page-icon.expanded {
    width: 20%;
    font-size: 100%;
    text-align: center;
    opacity: 1;
}
.page-name {
    width: 0;
    visibility: hidden;
    text-align: left;
}
.page-name.expanded {
    width: 90%;
    visibility: visible;
    transition: width 0.3s, opacity 0.3s;
}

.user-page-links .page-link {
    margin: 2% 5%;
}

/**********************************************/
/*************** Footer Styles ***************/
/**********************************************/

footer .container {
    padding: 1% 2% !important;
}

.link-container {
    text-align: center;
}

.link-container p {
    display: inline-block;
    margin-right: 10px;
}

.dotted-links {
    color: white !important;
    text-decoration: underline;
    text-decoration-style: dotted !important;
}

.non-dotted-links {
    color: white !important;
    text-decoration: none !important;
}

.dotted-links:hover,
.non-dotted-links:hover {
    color: #F0D695 !important;
}


/**********************************************/
/********** Department Groups Styles **********/
/**********************************************/
.alert-info {
    margin-bottom: 0;
}



/**********************************************/
/*********** Table Component Styles ***********/
/**********************************************/
.add-button-wrapper {
    margin: 0 0 2% 0;
    display: flex;
    justify-content: end;
}

.add-button {
    /* background-color: #91CDC9; */

    background-color: rgb(114, 176, 29);
    /* background-color: #64c106; */
    color: white;
    text-shadow: 2px 2px 5px rgba(21, 21, 21, 0.3);
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    height: 50px;
    box-shadow: 1px 1px 5px rgba(21, 21, 21, 0.5);
    border: 1px outset;
    border-color: white;
    margin-top: 0 !important;
}
.add-button:hover {
    background-color: rgb(90, 153, 1);
    border-color: rgb(90, 153, 1);
}
.add-button-wrapper .modal-header {
    background-color: #57ac00;
    color: white;
    text-shadow: 2px 2px 5px rgba(21, 21, 21, 0.5);
}
.add-button-wrapper .modal-footer .submit-button {

    background-color: #57ac00;
    color: white;
    text-shadow: 2px 2px 5px rgba(21, 21, 21, 0.5);
}

.edit-button + .modal .modal-header {
    background-color: rgb(80, 161, 223);
    color: white;
    text-shadow: 2px 2px 5px rgba(21, 21, 21, 0.5);
}
.edit-button + .modal .modal-footer .submit-button {
    background-color: rgb(80, 161, 223);
    color: white;
    text-shadow: 2px 2px 5px rgba(21, 21, 21, 0.5);
}
.delete-button + .modal .modal-header {
    background-color: rgb(185, 62, 62);
    color: white;
    text-shadow: 2px 2px 5px rgba(21, 21, 21, 0.5);
}
.delete-button + .modal .modal-footer .submit-button {
    background-color: rgb(185, 62, 62);
    color: white;
    text-shadow: 2px 2px 5px rgba(21, 21, 21, 0.5);
}



.edit-button {
    background-color: rgba(134, 194, 241);
}
.edit-button:hover {
    background-color: rgb(51, 135, 199);
    border-color: rgb(51, 135, 199);
}
.delete-button {
    background-color: rgba(203, 93, 93);
    border-color: rgb(203, 93, 93);
}
.delete-button:hover {
    background-color: rgb(209, 2, 2);
    border-color: rgb(209, 2, 2);
}
button:hover {
    opacity: 0.8;
}


.button {
    transition: transform 0.05s;
}
.button:active {
    transform: translateY(1.5px);
}

.fa-icon {
    color: white;
}



/**********************************************/
/*********** Custom Bootstrap Styles **********/
/**********************************************/
.row {
    align-items: baseline;
}
.container {
    padding-left: 0;
    padding-right: 0;
}

