/* .paginate_button {
    border: 1px solid lightgray;
    padding: 6px 12px;
    margin-right: 5px;
    cursor: pointer;
}

.paginate_button.disabled {
    background-color: lightgray;
    border-radius: 5px;
}

.paginate_button a {
    color: black;
    text-decoration: none;
}

.paginate_button.active {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #91CDC9;
}

.paginate_button.disable {
    color: gray;
}

table.dataTable {
    border-collapse: collapse !important;
    border: 1px solid lightgray;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.table th {
    background-color: #535353 !important;
    color: white;
    height: 33px !important;
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate {
    float: right !important;
}

.dataTables_filter input {
    border: 1px solid #AFAEAE;
    border-radius: 30px;
    padding: 20px;
    width: 280px;
    height: 50px;
}

.title-background {
    background-color: #91CDC9;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.inline-components-parent {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.add-department-group {
    background-color: #91CDC9;
    border: none;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
    height: 50px;
}

.btn-custom {
    width: 60px;
} */

.close {
    background: none;
    border: none;
    padding: 0;
}
.close span {
    font-size: 25px;
    color: #000;
}
