
/************************* Modal Style *************************/
.modal {
    text-align-last: left;
}
.modal-content {
    text-align: start;
}

.modal-body {
    padding: 6%;
}

.button-wrapper {
    padding-top: 2%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


/************************* Form Style *************************/
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    margin-bottom: 5px;
}
.form-control {
    margin-bottom: 1%;
}
.validation-msg {
    color: red;
    margin-left: 2%;
}

/**** Formkit Styling ****/
.form-group .formkit-messages {
    list-style-type: none;
    padding-left: 2px;
}  
.form-group .formkit-messages .formkit-message {
    color: red;
}  
.form-group .formkit-inner input,
.form-group .formkit-inner select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: inset 2px #cab8b8;
}
.form-group .formkit-inner select {
    cursor: pointer;
}

/* radio buttons */
.formkit-outer fieldset {
    display: flex;
    flex-direction: row;
}
.formkit-outer fieldset legend {
    font-size: 1rem;
    height: fit-content;
    width: fit-content;
}
.formkit-outer fieldset ul {
    list-style-type: none;
    display: flex;
    height: fit-content;
    width: fill-available;
    width: -moz-available;
    width: -webkit-fill-available;
    flex-flow: row-reverse;
    justify-content: flex-end;
}
.formkit-outer fieldset ul li.formkit-option {
    width: 30%;
}
.formkit-outer fieldset ul li label.formkit-wrapper {
    width: fit-content;
    display: flex;
}
.formkit-outer fieldset ul li label.formkit-wrapper input {
    width: fit-content;
    height: 100%;
    cursor: pointer;
}
.formkit-outer fieldset ul li label.formkit-wrapper .formkit-label {
    padding: 0 15%;
}







/************************* Add Modal Style *************************/
.button-wrapper .btn-add {
    background-color: rgb(106,187,90);
    color: white;
    box-shadow: 1px 1px 3px rgba(21, 21, 21, 0.3);
    margin: 0 0 0 2%;
}

/************************* Edit Modal Style *************************/
.button-wrapper .btn-edit {
    background-color: rgb(112, 167, 209);
    color: white;
    box-shadow: 1px 1px 3px rgba(21, 21, 21, 0.3);
    margin: 0 0 0 2%;
}


/************************* Delete Modal Style *************************/
.delete-message-fields {
    padding: 3% 5%;
}
.button-wrapper .btn-delete {
    background-color: rgba(203, 93, 93);
    color: white;
    box-shadow: 1px 1px 3px rgba(21, 21, 21, 0.3);
    margin: 0 0 0 2%;
}


/************************* Approve Modal Style *************************/
.approve-modal .modal-header .modal-title {
    text-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
    font-weight: bolder;
    font-size: 120%;
}

.approve-info-wrapper {
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}
.update-approval-form .approve-info-wrapper .current-info,
.update-approval-form .approve-info-wrapper .pending-info {
    width: 50%;
}
.approve-info-wrapper .current-info {
    padding-right: 5%;
}
.approve-info-wrapper .pending-info {
    padding-left: 5%;
}
.approve-info > div {
    margin: 2% 0;
}
.approve-info > span {
    display: flex;
}
.approve-info-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 110%;
}

.approve-message .status-action {
    color: rgb(112, 167, 209);
    text-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
    font-weight: bolder;
    font-size: 120%;

    display: flex;
    justify-content: center;
    align-items: baseline;
    white-space: nowrap;
}


.approve-info-wrapper .arrow-wrapper {
    display: flex;
    align-items: center;
}


.approve-info-wrapper .approve-info-field > span {
    display: flex;
    flex-wrap: wrap;
}



.button-wrapper .btn-approve {
    background-color: rgb(106,187,90);
    color: white;
    box-shadow: 1px 1px 3px rgba(21, 21, 21, 0.3);
    margin: 0 0 0 2%;
}
.button-wrapper .btn-reject {
    background-color: rgba(203, 93, 93);
    color: white;
    box-shadow: 1px 1px 3px rgba(21, 21, 21, 0.3);
    margin: 0 0 0 2%;
}




