
/************************* Modal Style *************************/
.modal {
    text-align-last: left;
}
.modal-content {
    text-align: start;
}

.modal-body {
    padding: 5%;
}


/************************* Form Style *************************/
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    margin-bottom: 5px;
}
.form-control {
    margin-bottom: 1%;
}
.validation-msg {
    color: red;
    margin-left: 2%;
}

/**** Formkit Styling ****/
.form-group .formkit-messages {
    list-style-type: none;
    padding-left: 2px;
}  
.form-group .formkit-messages .formkit-message {
    color: red;
}  
.form-group .formkit-inner input,
.form-group .formkit-inner select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: inset 2px #cab8b8;
}
.form-group .formkit-inner select {
    cursor: pointer;
}

/************************* Delete Modal Style *************************/
.delete-message-fields {
    padding: 3% 5%;
}
